{
  "overrides": [
    {
      "files": "*.pro.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100
}
